# sudo blkid to get watch UUID
# /dev/sdf: SEC_TYPE="msdos" LABEL="GARMIN" UUID="489A-9E97" TYPE="vfat"
ACTION=="add", ENV{ID_FS_UUID_ENC}=="489A-9E97", RUN+="/bin/mount /dev/%k"
ACTION=="remove", ENV{ID_FS_UUID_ENC}=="489A-9E97", RUN+="/bin/umount /dev/%k"
